.main{
    background-color: gray;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.box1, .box2{
    border: 1px black solid;
    padding: 10px;
    display: inline-block;
    width: 40%;
    text-align: center;
    margin: 5px;
}
#box1-1, #box2-1{
    background-color: azure;
}
.buttons{
    margin: 10px;
    text-align: center;
}
h1, h2, h3, h4 {
    font-family: 'Righteous', cursive;
}